*.log

#Backup files
/*.zip
/*.tar.gz



.htaccess_backup_*
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

.idea/

# Ignore OSX files
._.DS_Store
.DS_Store
.unison*

# Nodejs log files
# Node Modules
node_modules
*.log
npm-debug.
yarn-debug
yarn-error
lerna-debu
yarn.lock


# .htaccess
.htaccess

docker-compose.yaml