// admin css
#helperbox_general_settings {

    .form-table-breadcrumb {
        #helperbox_breadcrumb_remove_condition_editor {
            width: 100%;
            height: 400px;
        }

        .ace_print-margin {
            left: 0px !important;
        }
    }

    .form-table-adminlogin {
        .helperbox-media-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 3px;

            .selected-image {
                display: inline-block;
                position: relative;
                margin: 5px;

                img {
                    height: 150px;
                    width: 150px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                .remove-image {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    text-decoration: none;
                }
            }

        }
    }
}