// admin css
#helperbox_general_settings {
    .form-table-adminlogin {
        .helperbox-media-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 3px;

            .selected-image {
                display: inline-block;
                position: relative;
                margin: 5px;

                img {
                    height: 150px;
                    width: 150px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                .remove-image {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    text-decoration: none;
                }
            }
            
        }
    }
}