.login {
  display: flex;
  background-image: url("../images/left-map.svg"), url("../images/map.png");
  background-color: #f2e9de;
  background-position:
    left center,
    right center;
  background-repeat: no-repeat;
  align-items: stretch;
  align-content: flex-start;
}

.helperbox-login {
  width: 40%;
  min-width: 350px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
}

.login h1 a,
#login h1 a {
  height: 100px;
  width: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.helperbox-login #backtoblog {
  display: none;
}

.helperbox-login form {
  background-color: #fff;
  border-width: 0;
  box-shadow: none;
  margin-top: 20px;
  padding: 26px 24px 46px;
}

.helperbox-login form label {
  color: #777;
}

.helperbox-login input[type="text"],
.helperbox-login input[type="password"],
.helperbox-login input[type="checkbox"] {
  background-color: #fbfbfb;
  border-color: #ddd;
  color: #32373c;
}

.login input[type="submit"] {
  border-color: #1ca965;
  background-color: #383c44;
}

.login input[type="submit"]:hover {
  border-color: #1ca965;
  background-color: #1ca965;
}

.login input[type="submit"]:active {
  border-color: #1ca965;
  background-color: #1ca965;
}

.login input[type="submit"]:focus {
  border-color: #5b9dd9;
  background-color: #1ca965;
}


.login form input[type="text"]:focus,
.login form input[type="password"]:focus,
.login form input[type="checkbox"]:focus,
.login form input[type="submit"]:focus {
  border-color: #5b9dd9;
  -webkit-box-shadow: 0 0 2px rgb(91 157 217 / 80%);
  -moz-box-shadow: 0 0 2px rgb(91 157 217 / 80%);
  box-shadow: 0 0 2px rgb(91 157 217 / 80%);
}